body{
  font-family: 'Poppins', sans-serif;
}
section{
  border: 2px solid green;
  height: 500px;
}
/* float: left */
.float-box{
  border: 1px solid blue;
  width: 25%;
  float: left;
  margin-left: 2%;
  padding-left: 2%;
}
/* display: inline-block */
.display-box{
  border: 1px solid blue;
  width: 25%;
  display: inline-block;
}

.pseudo-section{
  height: 1200px;
}
/* :hover */
.hover-h4:hover{
  background-color: blueviolet;
  color: wheat;
  font-size: 20px;
  width: 50%;
}
/* :focus */
input:focus{
  color: brown;
  font-size: 16px;
  font-weight: 700;
}
/* :visited */
a:visited{
  color: red;
}

/* :first-child / :last-child / :nth-child() */
.digit:first-child{
  font-size: 24px;
  font-weight: 700;
  color: brown;
}
.digit:last-child{
  font-size: 24px;
  font-weight: 700;
  color: goldenrod;
}
.digit:nth-child(2n){
  background-color: gray;
}
/* pseudo element = ::before / ::after */
.name::before{
  content: "Hello ";
  background-color: goldenrod;
  color: white;
}
.name::after{
  content: " What's up";
  background-color: blueviolet;
  color: bisque;
  font-weight: 700;
  font-size: 20px;
}
/* counter */
body{
  counter-reset: section;
}
.laptop::before{
  counter-increment: section;
  content: "Product " counter(section) ": ";
}


/* positon */
.position-section{
  background-color: lightblue;
  height: 800px;
}
.position-box{
  width: 100px;
  height: 100px;
  border: 2px solid rebeccapurple;
  font-size: 20px;
  text-align: center;
}
#first-box{
  background-color: rosybrown;
}
#second-box{
  background-color: seagreen;
  position: relative;
  left: 100px;
}
#third-box{
  background-color: red;
}
#fourth-box{
  background-color: yellowgreen;
  position: absolute;
  left: 200px;
}
#fifth-box{
  background-color: lightsalmon;
}
#sixth-box{
  background-color: goldenrod;
}

/* css overflow */
#overflow-box{
  width: 400px;
  height: 200px;
  border: 3px solid tomato;
  /* overflow: hidden; */
  overflow: scroll;
}
#overflow-box2{
  width: 400px;
  height: 200px;
  border: 3px solid cyan;
}

/* image */
.img-section{
  height: 600px;
}
.img-box{
  border: 3px solid purple;
  width: 40%;
  float: left;
  margin-left: 3%;
  padding-left: 2%;
}

/* flexbox */
.flexbox-container{
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  flex-direction: column;
  align-items: center;
}
.flexbox-box{
  width: 100px;
  height: 100px;
  border: 3px solid purple;
  border-radius: 10px;
}
/* #flexbox-box3{
  margin-left: auto;
  flex: 1;
} */


/* css grid layout */
.grid-container{
  display: grid;
  /* grid-template-columns: 150px 150px 150px 100px; */
  /* grid-template-columns: repeat(3, 150px); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.grid-box{
  border: 3px solid tomato;
}

/* create calender using grid & flexbox */
.calender-section{
  height: 600px;
}
.calender ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}
.calender li{
  list-style: none;
  background-color: lightslategray;
  height: 80px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-month{
  background-color: lightyellow !important;
}