body{
  font-family: 'Poppins', sans-serif;
}
section{
  border: 2px solid green;
  height: 500px;
}
/* float: left */
.float-box{
  border: 1px solid blue;
  width: 25%;
  float: left;
  margin-left: 2%;
  padding-left: 2%;
}
/* display: inline-block */
.display-box{
  border: 1px solid blue;
  width: 25%;
  display: inline-block;
}

.pseudo-section{
  height: 1200px;
}
/* :hover */
.hover-h4:hover{
  background-color: blueviolet;
  color: wheat;
  font-size: 20px;
  width: 50%;
}
/* :focus */
input:focus{
  color: brown;
  font-size: 16px;
  font-weight: 700;
}
/* :visited */
a:visited{
  color: red;
}

/* :first-child / :last-child / :nth-child() */
.digit:first-child{
  font-size: 24px;
  font-weight: 700;
  color: brown;
}
.digit:last-child{
  font-size: 24px;
  font-weight: 700;
  color: goldenrod;
}
.digit:nth-child(2n){
  background-color: gray;
}
/* pseudo element = ::before / ::after */
.name::before{
  content: "Hello ";
  background-color: goldenrod;
  color: white;
}
.name::after{
  content: " What's up";
  background-color: blueviolet;
  color: bisque;
  font-weight: 700;
  font-size: 20px;
}
/* counter */
body{
  counter-reset: section;
}
.laptop::before{
  counter-increment: section;
  content: "Product " counter(section) ": ";
}


/* positon */
.position-section{
  background-color: lightblue;
  height: 800px;
}
.position-box{
  width: 100px;
  height: 100px;
  border: 2px solid rebeccapurple;
  font-size: 20px;
  text-align: center;
}
#first-box{
  background-color: rosybrown;
}
#second-box{
  background-color: seagreen;
  position: relative;
  left: 100px;
}
#third-box{
  background-color: red;
}
#fourth-box{
  background-color: yellowgreen;
  position: absolute;
  left: 200px;
}
#fifth-box{
  background-color: lightsalmon;
}
#sixth-box{
  background-color: goldenrod;
}

/* more position */
.more-position-area{
  position: relative;
}

.more-position-container{
  display: flex;
  position: relative;
}
.more-position-box{
  width: 200px;
  height: 100px;
  border: 3px solid tomato;
  margin-right: 20px;
}
.more-position-box-3{
  background-color: thistle;
  position: absolute;
  top: 20px;
  /* z-index: 2; */
}
.more-position-box-1{
  background-color: teal;
  /* z-index: 1; */
}
/* apply relative position in a photo album  */
.photo-album-area{
  height: 700px;
  position: relative;
}
.photo-album{
  display: flex;
  flex-wrap: wrap;
}
.photo-frame{
  width: 300px;
  height: 200px;
  border: 10px solid goldenrod;
  border-radius: 10px;
  position: relative;
  margin: 10px;
}
.photo-frame .photo img{
  width: 100%;
}
.photo-detail{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  display: none;
}
.photo-frame:hover .photo-detail{
  display: block;
  background-color: rgba(218, 165, 32, 0.4);
}
.photo-frame:hover .photo-detail h4{
  color: white;
  background-color: black;
  text-align: center;
}
.photo-frame:hover .photo-detail p{
  color: white;
}

/* css overflow */
#overflow-box{
  width: 400px;
  height: 200px;
  border: 3px solid tomato;
  /* overflow: hidden; */
  overflow: scroll;
}
#overflow-box2{
  width: 400px;
  height: 200px;
  border: 3px solid cyan;
}

/* image */
.img-section{
  height: 600px;
}
.img-box{
  border: 3px solid purple;
  width: 40%;
  float: left;
  margin-left: 3%;
  padding-left: 2%;
}

/* flexbox */
.flexbox-container{
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  flex-direction: column;
  align-items: center;
}
.flexbox-box{
  width: 100px;
  height: 100px;
  border: 3px solid purple;
  border-radius: 10px;
}
/* #flexbox-box3{
  margin-left: auto;
  flex: 1;
} */


/* css grid layout */
.grid-container{
  display: grid;
  /* grid-template-columns: 150px 150px 150px 100px; */
  /* grid-template-columns: repeat(3, 150px); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.grid-box{
  border: 3px solid tomato;
}

/* create calender using grid & flexbox */
.calender-section{
  height: 600px;
}
.calender ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}
.calender li{
  list-style: none;
  background-color: lightslategray;
  height: 80px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-month{
  background-color: lightyellow !important;
}

/* css transform */
.transform-box{
  width: 100px;
  height: 100px;
  border: 2px solid rebeccapurple;
}
.outer{
  background-color: gray;
}
.inner{
  background-color: indianred;
  /* transform: scale(0.75); */
  /* transform: translateX(100px); */
  transform: rotate(30deg) scale(0.75);
}

/* css transition */
.transition-box{
  width: 200px;
  height: 200px;
  border: 3px solid cyan;
  background-color: green;
  /* transition: background-color 3s ease 2s; */
  transition: width 4s ease-in 1s;
}
.transition-box:hover{
  background-color: red;
  width: 500px;
}

/* create simple cricket match with transform & transition */
.bat{
  transition: transform 0.2s ease-in-out;
}
.ball{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  left: 400px;
  transition: transform 2s ease-in-out 0.2s;
}
.field:hover .bat{
  transform: rotate(-60deg);
  transform-origin: 100% 0%;
}
.field:hover .ball{
  transform: translate(700px, -100px);
}

/* css animation */
@keyframes slideIn{
  0%{
    left: 0;
    top: 0;
  }
  50%{
    left: 400px;
    top: 100px;
    background-color: red;
  }
  100%{
    left: 800px;
    top: 0;
    background-color: yellow;
  }
}
.animation-box{
  min-width: 800px;
  height: 200px;
  background-color: lightskyblue;
  position: relative;
}
.ball-animation{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
}
.animation-box:hover .ball-animation{
  animation: slideIn 3s ease-in-out 1s infinite alternate;
}
.animation-section{
  height: 300px;
}

/* css media query */
.media-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.mobile{
  width: 350px;
  border: 3px solid gray;
  border-radius: 30px;
  margin: 10px;
}
.mobile img{
  width: 100%;
}
/* @media (max-width: 760px){
  .media-container{
    flex-direction: column;
  }
  .media-container .mobile{
    background-color: rosybrown;
  }
}
@media (min-width: 1200px){
  .media-container .mobile{
    background-color: skyblue;
  }
} */
.media-query-section{
  height: 900px;
}